<div style="text-align:center;margin-top:25px;">
<h1> Which word best describes this picture? </h1>
  <%= image_tag "https://media.giphy.com/media/453QsWPQj5bsQaqp8M/giphy.gif" %> <br><br>
  <%= submit_tag('RANDOM WORD API', class: "button") %><br><br>
  <%= submit_tag('RANDOM WORD API', class: "button") %><br><br>
  <%= submit_tag('RANDOM WORD API', class: "button") %><br><br>
  <%= submit_tag('RANDOM WORD API', class: "button") %><br><br>
</div>